body {
    font-family: Verdana;
}

.sub-container {
    border: 1px solid gray;
    display: none;
}

/*Login*/
.container-login {

}

.container-login .login-form {
    width: 200px;
    margin: auto;
}

.container-login div {
}

.container-login div button {
    margin: auto;
    width: 60%;
    margin: 10px;
}

table {
    border-collapse: collapse;
    width: 100%;
    border-spacing: 0px;
    border: none;
}

tr {
}

th {
    background: #4977e3;
    color: white;
}

td, th {
    padding: 0px;
    border: 1px solid gray;
}

button {
    margin: 4px;
    padding: 10px;
    border: 1px solid #4977e3;
    background: #4977e3;
    color: white;
}

.room {

}

.room .tables {

}

.room .players {

}

.buttons {

}

.buttons * {
    float: right;
}

/*Table*/
.tables-tbl {

}
.tables-tbl td {
    text-align: center;
    padding: 5px;
}
td.selected {
    background: yellow;
    font-weight: bold;
}
td.free {
    color: gray;
    font-weight: normal;
    font-size: smaller;
}

/*Buttons*/
.table-buttons .text {
    /*font-weight: bold;*/
    /*text-transform: uppercase;*/
}

.selectable, .selectable * {
    cursor: pointer !important;

}

.player .table-text {
    font-size: 16pt;
    fill: black;
    text-transform: uppercase;
    font-weight: bold;

    fill: black;
    fill-opacity: 1;
    stroke: yellow;
    stroke-width: 1px;
    stroke-linecap: butt;
    stroke-linejoin: miter;
    stroke-opacity: 1;
}

.player .team1 {
    fill: red;
}

.player .team2 {
    fill: blue;
}

.player .free .table-text {
    fill: gray;
}

@keyframes blink {
    100%,
    0% {
        fill-opacity: 1;
    }
    60% {
        fill-opacity: 0.5;
        fill: yellow;
    }
}

.player-circle.waiting {
    animation: blink 0.8s infinite;
}
/*Table Card*/
.card {
}
.card.played {
}

/*Table Messages*/
.messages, .score {
    padding: 5px;
}

.score p , .messages p {
    font-size: 14pt;
    color: yellow;
}
.score p {
    font-weight: bold;
}


/*speech-ballon*/
.speech-ballon {
    display:none;
}
.speech-ballon.show {
    display:block;
}